body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #3d0d39;
}
.Quem-Somos{
    background-color: gray;
    color: white;
}

.margin{
    padding-bottom: 30px;
    padding-top: 10px;
}
.Parceiros{
    background-color: rgb(77, 76, 76);
    color: white;
}

.bg-footer{
    background-color:#3d0d39;
    color: white;
}